{%load static%}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'home/css/login.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login">
            <form action="{% url 'user-login'%}" method="POST">
                {%csrf_token%}
                <input type="email" name="email" placeholder="Email" required autocomplete="off">
                <input type="password" name="senha" placeholder="Senha" required minlength="8">
                <div class="options">
                    <a href="{% url 'cadastro'%}" target="_blank">Criar conta</a>
                    <a href="{% url 'senha'%}">Esqueci minha senha</a>
                </div>
                <button>Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>