body{
    padding: 220px;
    margin-left: 400px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius:20px;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container .login{
    
}

.container .login form{
    display:flex;
    flex-direction: column;
}

.container .login form input{
    width: 400px;
    height: 30px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
}

.container .login form .options{
    display: flex;
    flex-direction: column;
}

.container .login form .options a{
    text-decoration: none;
    color: black;
}

.container .login form .options a:hover{
    color: white;
}

.container .login form button{
    width: 410px;
    height: 25px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgb(0, 106, 255);
}

.container .login form button:hover{
    color:white;
}

