body{
    padding: 200px;
    margin-left: 400px;
}

.container{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 500px;
    border-radius:20px;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form input{
    width: 400px;
    height: 30px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
}

.container form button{
    width: 405px;
    height: 25px;
    border: solid 1px black;
    border-radius:5px;
    background-color:rgba(0, 255, 0, 0.568)
}

.container form button:hover{
    color:white;
}