{%extends 'home/paginas/index.html'%}

{% load static%}

{% block content%}
<div class="books-grid-biblioteca">
    {% for dado in dados %}
    <div class="book-card-biblioteca">
        <img src="{% static dado.imagem_capa %}" alt="{{ dado.nome }}">

        <div class="book-info-biblioteca">
            <h3>{{ dado.nome }}</h3>
            <p>Progresso: 30%</p>

            <div class="book-actions-biblioteca">
                <button class="borrow-btn">Continuar</button>

                <form action="{% url 'remover_livro' dado.id %}" method="POST" onsubmit="return confirm('Deseja remover este livro?')">
                    {%csrf_token%}
                    <button class="btn-delete" >Remover</button>
                </form>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}
<script>

</script>