{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{%static 'home/css/user/login.css'%}">
       <title>Biblioteca-Digital</title>
</head>
<body>
       <div class="content">
              <div class="content-main">
                     <div class="content-image">
                            <img src="{%static 'home/images/capa/biblioteca.png'%}" alt="Biblioteca digital">
                     </div>
                     <div class="content-form">
                            <h1>Cadastro</h1>
                            <form action="{%url 'cadastrar_usuario'%}" method="POST">
                                  {%csrf_token%}
                                   <input type="text" name="first_name" placeholder="Nome" value="{{ form.first_name.value|default_if_none:'' }}" required>
                                   {{form.first_name.errors}}
                                   <input type="text" name="last_name" placeholder="Sobrenome" value="{{ form.last_name.value|default_if_none:'' }}" required>
                                   {{form.last_name.errors}}
                                   <input type="date" name="data_nascimento" placeholder="Data_nascimento" value="{{ form.data_nascimento.value|date:'Y-m-d' }}" required>
                                   {{form.data_nascimento.errors}}
                                   <input type="text" name="cpf" placeholder="CPF" value="{{ form.cpf.value|default_if_none:'' }}" required>
                                   {{form.cpf.errors}}
                                   <input type="text" name="telefone" placeholder="Telefone" value="{{ form.telefone.value|default_if_none:'' }}" required>
                                   {{form.telefone.errors}}
                                   <input type="text" name="username" placeholder="Nome de Usuario" value="{{ form.username.value|default_if_none:'' }}" required>
                                   {{form.username.errors}}
                                   <input type="email" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}" required>
                                   {{form.email.errors}}
                                   <input type="password" name="password1" placeholder="Senha" required>
                                   {{form.password1.errors}}
                                   <input type="password" name="password2" placeholder="Confirme a senha" required>
                                   {{form.password2.errors}}
                                   <div class="btn">
                                          <button type="submit">Cadastrar</button>
                                          {%if messages%}
                                          {%for message in messages%}
                                          <p class="{{message.tags}}">{{message}}</p>
                                          {%endfor%}
                                          {%endif%}
                                   </div>
                            </form>
                            </form>
                     </div>
              </div>
       </div>
</body>
</html>