{% load static%}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{%static 'home/css/inicial/cadastro.css'%}">
</head>
<body>
       <div class="container">
              <form action="{% url 'criar_cadastro' %}" method="POST">
                     {% csrf_token %}

                     <input type="text" name="nome" placeholder="Nome" value="{{ form.nome.value|default:'' }}">
                     {{ form.nome.errors }}

                     <input type="text" name="sobrenome" placeholder="Sobrenome" value="{{ form.sobrenome.value|default:'' }}">
                     {{ form.sobrenome.errors }}

                     <input type="date" name="data_nascimento" value="{{ form.data_nascimento.value|default:'' }}">
                     {{ form.data_nascimento.errors }}

                     <input type="text" name="cpf" placeholder="CPF" value="{{ form.cpf.value|default:'' }}">
                     {{ form.cpf.errors }}

                     <input type="text" name="telefone" placeholder="Telefone" value="{{ form.telefone.value|default:'' }}">
                     {{ form.telefone.errors }}

                     <input type="email" name="email" placeholder="E-mail" value="{{ form.email.value|default:'' }}">
                     {{ form.email.errors }}

                     <input type="password" name="senha" placeholder="Senha">
                     {{ form.senha.errors }}

                     <button type="submit">Cadastrar</button>
              </form>
       </div>
</body>

</html>