{%load static%}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'home/css/inicial/login.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login">
            <form action="{% url 'verificar_login'%}" method="POST">
                {%csrf_token%}
                <input type="email" name="email" placeholder="Email" required autocomplete="on" title="teste">
                <input type="password" name="senha" placeholder="Senha" required minlength="8">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}" style="color: aqua;">
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="options">
                    <a href="{% url 'cadastrar_usuario'%}" target="_blank">Criar conta</a>
                    <a href="{% url 'recuperacao_senha'%}">Esqueci minha senha</a>
                </div>
                <button>Entrar</button>
                <div class="alternativas">
                    <ion-icon name="logo-google"></ion-icon>
                    <ion-icon name="phone-portrait-outline"></ion-icon>
                    <ion-icon name="key-outline"></ion-icon>
                </div>
            </form>
            
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>